.onesection{
  margin-bottom: 8rem;
}

.Home--text {
  margin-bottom: 0rem;
}

.box22{
  padding: 0.5em 1em;
  margin: 1.5em 0;
  background: #f4f4f4;
  border-left: solid 6px #5bb7ae;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
}
.box22 p {
  margin: 0; 
  margin-left: 1em;
}

img {
  width:100%;
  max-width: 350px;
  height: auto;
  background-size: cover;
  float: left;
  margin-right: 1em; 
  margin-bottom: 2em; 
  box-shadow: 0 15px 10px rgba(0,0,0, .5);
}